/* for small devices */
@media screen and (max-width: 635px){
    .nav-contents ul li a i{
        display: none;
    }
    .hero,
    .more-from-us{
        padding: 5rem 0;
    }
    .hero .container .hero-contents{
        width: 100%;
    }
    .hero .container .hero-contents h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .hero-contents p,h1,button,
    .card1 span,
    .card2 span,
    .card3 span,
    .card4 span{
        margin-bottom: 1rem;
    }
    .hero-contents p{
        width: 80%;
    }
    .hero-contents #btn1{
        font-size: 1rem;
    }
    .nav-contents ul li a{
        padding: 0 .5rem;
        letter-spacing: normal;
    }
    .logo ul{
        display: block;
        font-size: 2.5rem;
        color: #000;
    }
    #work-with-our-team .container .work-with-us-contents,
    .service-contents,
    .premier-member .container .premier-member-contents,
    .team-section .container .team-section-contents{
        flex-direction: column;
        gap: 1rem;
    }
    .work-with-us-contents .work-with-us-texts .points ul li{
        margin-right: 2.6rem;
        margin-left: 0rem;
        flex-shrink: -20;
    }
    .work-with-us-texts h3,
    .section-heading h3,
    .more-from-us-contents .more-from-us-card h4,
    .card1 h2,
    .card2 h2,
    .card3 h2,
    .card4 h2{
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .more-from-us-contents .more-from-us-card h4,
    .more-from-us-card p{
        text-align: center;
    }
    .work-with-us-texts p,
    .section-heading p,
    .more-from-us-contents .more-from-us-card p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .points ul li a{
        font-size: .8rem;
        font-weight: 900;
    }
    .points ul li a i{
        font-size: .6rem;
        font-weight: bolder;
    }
    .work-with-us-contents .work-with-us-texts button{
        font-size: 1.05rem;
        margin-top: .5rem;
        margin-left: 0;
    }
    .achivements .achivements-contents{
        flex-direction: column;
        align-items: center;
    }
    .achivements-contents .achivement-example h4{
        font-size: 1.4rem;
    }
    .premier-member-contents .premier-member-details h2,
    .premier-member-contents .premier-member-details h3,
    .premier-member-contents .premier-member-details ul,
    .premier-member-contents .premier-member-details button{
        margin-left: 8%;
    }

}

/* for small devices style end */


/* for medium devices */
@media screen and (max-width: 980px) and (min-width: 635px) {
    .nav-contents ul li a i{
        display: none;
    }
    .hero{
        padding: 7rem 0;
    }
    .hero .container .hero-contents{
        width: 100%;
    }
    .hero .container .hero-contents h1{
        font-size: 3rem;
    }
    #search-icon{
        display: block;
    }
    #work-with-our-team .container .work-with-us-contents{
        flex-direction: column;
    }
    .work-with-us-contents .work-with-us-texts .points ul li{
        margin-right: 2rem;
        margin-left: 0rem;
    }
    .points ul li a{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .points ul li a i{
        font-size: 1rem;
        font-weight: 700;
    }
    .work-with-us-contents .work-with-us-texts button{
        margin: auto;
        margin-top: 1rem;
        margin-left: 0;
    }
    .more-from-us .container .more-from-us-contents,
    .team-section .container .team-section-contents{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .more-from-us-contents .more-from-us-card,
    .team-section .container .team-section-contents .card1,
    .team-section .container .team-section-contents .card2,
    .team-section .container .team-section-contents .card3,
    .team-section .container .team-section-contents .card4{
        grid-column: span 2;
    }
    .premier-member .container .premier-member-contents{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        /* grid-template-rows: repeat(2,1fr); */
        gap: 1rem;
        justify-content: center;
    }
    .premier-member-contents .premier-member-details{
        grid-column: span 6;
    }
    .premier-member-contents #premier-member-details-last{
        grid-column: 4/10;
    }
    .premier-member-contents #premier-member-details-last h3,
    .premier-member-contents #premier-member-details-last h2,
    .premier-member-contents #premier-member-details-last ul,
    .premier-member-contents #premier-member-details-last button{
        margin-left: 12%;
    }
    .premier-member-contents #premier-member-details-last ul li i{
        padding-right: 5%;
    }
    
}

/* for medium devices style end */


/* for large devices */
@media screen and (max-width: 980px){
    .contact-bar{
        display: none;
    }
    .nav-contents{
        flex-direction: column;
    }
    .service-contents,
    .more-from-us-contents{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service-contents .service-item{
        flex-basis: 49%;
        font-family: "oswald",sans-serif;
    }
    
}

/* for large devices style end */

/* for x-large devices */

@media screen and (min-width: 1200px) {
    .work-with-us-texts h3,p,.points ul li a{
        margin-bottom: 3rem;
    }
    .work-with-us-texts h3{
        font-size: 4rem;
    }
    .work-with-us-texts p{
        font-size: 1.8rem;
        line-height: 3.4rem;
    }
    .work-with-us-texts ul{
        font-size: 4rem;
    }
}