/* medium devices */
/* @media screen and (min-width: 1250px) {
    .work-with-us-contents .work-with-us-texts .points ul li{
        margin-right: 5rem;
        margin-left: 1rem;
        flex-grow: 3;
    }
    .points ul li a{
        font-size: 2rem;
        font-weight: 700;
        line-height: 4rem;
        flex-grow: 3;
    }
    .work-with-us-texts h3{
        font-size: 5rem;
        margin-bottom: 4rem;
    }.work-with-us-texts p{
        font-size: 2.2rem;
        line-height: 4rem;
        margin-bottom: 5rem;
    }
    .points ul li a i{
        font-size: 1.8rem;
        font-weight: 700;
        flex-grow: 3;
    }
    .work-with-us-contents .work-with-us-texts button{
        margin: auto;
        margin-top: 6rem;
        margin-left: 0;
        flex-grow: 3;
        font-size: 3.8rem;
    }
} */