/* Reset style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    --bgClor-primary: #f5f5f5;
    --bgClor-secondary: #fff;
    --heading-primary: #000;
    --heading-secondary: #fff;
    --pClor: #656565;
    --pClor-secondary: #333;
    --btnBg: #ff5200;
    --btnText: #fff;
    --btnHover: #252525;
}
.container {
    width: 80%;
    max-width: 118rem;
    margin: 0 auto;
}

section{
    padding: 9rem 0;
}

.section-heading{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 4rem;
}
.section-heading h3{
    margin-bottom: 2rem;
    position: relative;
    letter-spacing: .1rem;
}

.section-heading h3:after{
    content: '';
    position: absolute;
    width: 6rem;
    height: .3rem;
    background-color: var(--btnBg);
    border-radius: .3rem;
    bottom: -1.6rem;
    left: 0;
    right: 0;
    margin: 1rem auto;
}

h2,h3,h4,h5,h6{
    font-size: 3rem;
    font-weight: 500;
    color: var(--heading-primary);
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: "oswald",sans-serif;
}

p{
    font-size: 1.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: var(--pClor);
}

button {
    display: block;
    background: var(--btnBg);
    color: var(--btnText);
    font-size: 1.6rem;
    letter-spacing: -.02rem;
    padding: 1.2rem 1.8rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .3s ease-out;
}
button:hover {
    background: var(--btnHover);
    cursor: pointer;
}

/* Contact bar */
.contact-bar {
    background: var(--bgClor-primary);
}
.contact-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-contents .phone {
    display: flex;
    font-size: 3.6rem;
    align-items: center;
}
.phone .call {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone .mail {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone i {
    color: var(--btnBg);
    margin-right: 1rem;
}
.social a {
    text-decoration: none;
    font-size: 2.8rem;
    color: var(--heading-primary);
    display: block;
    border-left: .1rem solid #ccc;
    padding: 1rem 2rem;
    transition: .3s ease;
}
.social a:hover {
    color: var(--btnBg);
    cursor: pointer;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a:last-child {
    border-right: .1rem solid #ccc;
}

/* Nav bar */

nav{
    background-color: var(--heading-secondary);
}

nav .container .nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-contents ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 1rem 0rem;
}

.nav-contents ul li a{
    display: block;
    text-decoration: none;
    font-family: "oswald", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--heading-primary);
    padding: 0 1rem;
    transition: .3s ease;
}

.logo{
    display: flex;
}

.logo ul{
    display: none;
}

.nav-contents ul li a:hover, .logo ul i:hover{
    color: var(--btnBg);
    cursor: pointer;
}

.nav-contents ul li a i{
    font-size: 1.4rem;
}

.nav-contents ul li #search-icon{
    font-size: 1.6rem;
    font-weight: bolder;
}

/* Hero Section */

.hero{
    background: url(../Images/slide-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 9rem 0;
}

.hero .hero-contents{
    width: 65%;
}

.hero .container .hero-contents h1{
    text-transform: uppercase;
    color: var(--heading-secondary);
    font-size: 4.5rem;
    word-spacing: .5rem;
    letter-spacing: .2rem;
    font-family: "oswald",sans-serif;
    font-weight: normal;
    margin-bottom: 3.5rem;
}

.hero-contents p{
    color: var(--heading-secondary);
    font-size: 1.1rem;
    line-height: 2rem;
    width: 60%;
    margin-bottom: 3.5rem;
}

.hero-contents #btn1{
    font-size: 1.6rem;
    font-family: "oswald", sans-serif;
    letter-spacing: .2rem;
    margin-bottom: 4rem;
}

/* service section */

.service{
    background-color: var(--bgClor-primary)
}

.service .container .service-contents{
    display: flex;
    gap: 1rem;
}

.service-contents .service-item{
    background-color: var(--bgClor-secondary);
    flex-basis: 25%;
    padding: 3rem;
    text-align: center;
    box-shadow: .02rem .02rem .5rem #bbbbbb;
    transition: .3s ease-in;
}

.service-item i{
    font-size: 4rem;
    color: var(--btnBg);
    padding: 1rem;
    padding-top: 0rem;
}

.service-contents h3{
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.service-contents p{
    font-size: 1.3rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.service-contents a{
    text-decoration: none;
    color: var(--btnBg);
    font-size: 1.4rem;
}

.service-contents a i{
    font-size: 1.4rem;
    padding: 0;
    padding-left: .5rem;
}

.service-contents .service-item:hover{
    background-color: var(--btnBg);
}

.service-item:hover i,
.service-item:hover h3,
.service-item:hover p,
.service-item:hover a{
    color: var(--btnText);
    cursor: pointer;
}

/* work with us section */

#work-with-our-team{
    background-color: var(--bgClor-secondary);
}

#work-with-our-team .container .work-with-us-contents{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.work-with-us-contents .work-img,
.work-with-us-contents .work-with-us-texts{
    flex-basis: 49%;
}

.work-img{
    overflow: hidden;
}

.work-img img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    transition: transform .3s ease-out;
}

.work-img img:hover{
    transform: scale(1.08);
}

.work-with-us-texts h3{
    font-weight: normal;
    letter-spacing: .1rem;
}

.work-with-us-texts p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.work-with-us-texts .points{
    display: flex;
}

.points ul{
    list-style-type: none;
}


.points ul li{
    margin-right: 4.45rem;
    /* max rem of ul li's margin right is 4.45rem because it is the maximam width of his 
    parent container !important */
    margin-bottom: 1.2rem;
}

.points ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--pClor-secondary);
    font-weight: 600;
    transition: .3s ease-in;
}

.points ul li a:hover{
    color: var(--btnBg);
}

.points ul li a i{
    font-size: 1.2rem;
    padding-right: .5rem;
    font-weight: bold;
}

.work-with-us-contents .work-with-us-texts button{
    font-size: 1.7rem;
    font-family: "oswald", sans-serif;
    letter-spacing: .2rem;
    word-spacing: .5rem;
    font-weight: 700;
}

/* achivements section */

.achivements{
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.4)), url(../Images/customerNum.jpg);
    background-size: cover;
    padding: 4rem 0;
}
.achivements .achivements-contents{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.achivements-contents .achivement-example{
    width: 25%;
}
.achivements-contents .achivement-example .icons{
    font-size: 6rem;
    color: var(--heading-secondary);
    margin-top: -1rem;
}
.achivement-example h3,h4{
    color: var(--heading-secondary);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.achivement-example h3{
    font-size: 2.2rem;
}
.achivement-example h4{
    font-size: 1.8rem;
}

/* more from us section */

.more-from-us{
    background-color: var(--bgClor-primary);
}
.more-from-us .container .more-from-us-contents{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.more-from-us-contents .more-from-us-card .img img{
    width: 100%;
}
.more-from-us-card h4{
    color: var(--heading-primary);
    font-size: 1.6rem;
    margin-top: 1rem;
}
.more-from-us-card p{
    font-size: 1.2rem;
}

/* premier member section */

.premier-member{
    background-color: var(--bgClor-secondary);
}
.premier-member .container .premier-member-contents{
    display: flex;
    justify-content: space-between;
}
.premier-member-details{
    border: .1rem solid var(--bgClor-primary);
    background-color: var(--bgClor-secondary);
    box-shadow: .5rem .5rem 1rem var(--bgClor-primary),
    -.2rem -.2rem 1rem var(--bgClor-primary);
    border-radius: .5rem;
    flex-basis: 32%;
    padding: 3rem;
}
.premier-member-contents .premier-member-details h3{
    font-weight: 500;
    margin-bottom: 1rem;
}
.premier-member-details h2{
    margin-bottom: .5rem;
}
.premier-member-details h2 span{
    font-size: 3.4rem;
    font-weight: bolder;
    text-transform: lowercase;
}
.premier-member-details h2 span span{
    font-size: 2rem;
    font-weight: normal;
}
.premier-member-details ul li{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 3rem;
    cursor: pointer;
}
.premier-member-details ul li i{
    font-size: 1.2rem;
    padding-right: .5rem;
    color: var(--btnBg);
    font-weight: bolder;
}
.premier-member-details button{
    font-size: 1.3rem;
    margin-top: 1rem;
    transition: .3s ease-in;
}

/* idea section */
#idea-section{
    display: flex;
    background-color: var(--bgClor-secondary);
}
#idea-section .idea-img{
    background: url(../Images/idea1.jpg);
    max-width: 100%;
    min-width: 47.0%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#idea-section .idea-section-contents{
    min-width: 50%;
    max-width: 100%;
    background-color: var(--btnHover);
    padding: 3rem;
}
.idea-section-contents h3{
    color: var(--heading-secondary);
    font-size: 2.3rem;
}
.idea-section-contents p{
    color: var(--heading-secondary);
    font-size: 1.3rem;
}
.idea-section-contents .idea-section-content-lists{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.idea-section-content-lists .idea-row1,
.idea-section-content-lists .idea-row2{
    grid-column: span 2;
}
.idea-section-content-lists .idea-item .idea-title{
    margin-left: 2rem;
}
.idea-section-content-lists .idea-item .idea-title h4{
    font-size: 2rem;
}
.idea-section-content-lists .idea-item .idea-title p{
    font-size: 1.2rem;
}
.idea-section-content-lists .idea-item{
    display: flex;
}
.idea-section-content-lists .idea-item .idea-items-icon i{
    font-size: 3.7rem;
    color: var(--btnBg);
}
.idea-section-content-lists .idea-item .idea-items-icon #plug{
    transform: rotate(45deg);
    font-size: 4rem;
    margin-right: 1rem;
}
.idea-section-content-lists .idea-item .idea-items-icon #bitcoin{
    margin-right: 1.3rem;
}

/* team section */

.team-section{
    background-color: var(--bgClor-secondary);
}
.team-section  button{
    background-color: var(--btnHover);
    font-family: "oswald", sans-serif;
    letter-spacing: .1rem;
    margin: 5.6rem auto 0 auto;
    transition: .3s ease-in-out;
}
.team-section button:hover{
    background-color: var(--btnBg);
}
.team-section .container .team-section-contents{
    display: flex;
    justify-content: space-between;
    gap: 2.5%;
}
.team-section-contents .card1 .card1-contents .img img,
.team-section-contents .card2 .card2-contents .img img,
.team-section-contents .card3 .card3-contents .img img,
.team-section-contents .card4 .card4-contents .img img{
    max-width: 100%;
    box-shadow: .1rem .08rem .5rem var(--pClor),
    -.2rem -.2rem 1rem #eeeeee;
}
.card1-contents{
    position: relative;  
}
.team-section-contents .card1:hover .card1-contents .links,
.team-section-contents .card2:hover .card2-contents .links,
.team-section-contents .card3:hover .card3-contents .links,
.team-section-contents .card4:hover .card4-contents .links{
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}
.team-section-contents .card1 .card1-contents .links ul,
.team-section-contents .card2 .card2-contents .links ul,
.team-section-contents .card3 .card3-contents .links ul,
.team-section-contents .card4 .card4-contents .links ul{
    list-style-type: none;
    text-decoration: none;
    gap: 1rem;
    display: flex;
    font-size: 6.5rem;
    margin-top: -8rem;
    margin-left: 40%;
}
.team-section-contents .card1 h2,
.team-section-contents .card2 h2,
.team-section-contents .card3 h2,
.team-section-contents .card4 h2{
    text-align: center;
    font-size: 2.2rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}
.team-section-contents .card1 span,
.team-section-contents .card2 span,
.team-section-contents .card3 span,
.team-section-contents .card4 span{
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--pClor);
    display: block;
    text-align: center;
}
.team-section-contents .card1 .card1-contents .links ul li a i,
.team-section-contents .card2 .card2-contents .links ul li a i,
.team-section-contents .card3 .card3-contents .links ul li a i,
.team-section-contents .card4 .card4-contents .links ul li a i{
    padding: .6rem;
    border-radius: 50%;
}
.team-section-contents .card1 .card1-contents .links ul li a,
.team-section-contents .card2 .card2-contents .links ul li a,
.team-section-contents .card3 .card3-contents .links ul li a,
.team-section-contents .card4 .card4-contents .links ul li a{
    color: var(--bgClor-secondary);
    transition: .3s ease-in;
}
.team-section-contents .card1 .card1-contents .links ul li a:hover,
.team-section-contents .card2 .card2-contents .links ul li a:hover,
.team-section-contents .card3 .card3-contents .links ul li a:hover,
.team-section-contents .card4 .card4-contents .links ul li a:hover{
    color: var(--heading-primary);
}
.team-section-contents .card1 .card1-contents .links ul li a i:hover,
.team-section-contents .card2 .card2-contents .links ul li a i:hover,
.team-section-contents .card3 .card3-contents .links ul li a i:hover,
.team-section-contents .card4 .card4-contents .links ul li a i:hover{
    background-color: var(--bgClor-secondary);
}
.team-section-contents .card1 .card1-contents .links ul li .facebook i,
.team-section-contents .card2 .card2-contents .links ul li .facebook i,
.team-section-contents .card3 .card3-contents .links ul li .facebook i,
.team-section-contents .card4 .card4-contents .links ul li .facebook i{
    background-color: #3a6bb1;
}
.team-section-contents .card1 .card1-contents .links ul li .twitter i,
.team-section-contents .card2 .card2-contents .links ul li .twitter i,
.team-section-contents .card3 .card3-contents .links ul li .twitter i,
.team-section-contents .card4 .card4-contents .links ul li .twitter i{
    background-color: #0ec8f5;
}
.team-section-contents .card1 .card1-contents .links ul li .google-plus i,
.team-section-contents .card2 .card2-contents .links ul li .google-plus i,
.team-section-contents .card3 .card3-contents .links ul li .google-plus i,
.team-section-contents .card4 .card4-contents .links ul li .google-plus i{
    background-color: #f2623b;
}
.team-section-contents .card1 .card1-contents .links ul li .linkedin i,
.team-section-contents .card2 .card2-contents .links ul li .linkedin i,
.team-section-contents .card3 .card3-contents .links ul li .linkedin i,
.team-section-contents .card4 .card4-contents .links ul li .linkedin i{
    background-color: #0094d3;
}
.team-section-contents .card1 .card1-contents .links,
.team-section-contents .card2 .card2-contents .links,
.team-section-contents .card3 .card3-contents .links,
.team-section-contents .card4 .card4-contents .links{
    display: none;
}

/* project section */

.project-section{
    background-color: var(--bgClor-primary);
}
.project-section .container .project-section-contents .project-cards .img img{
    max-width: 100%;
    overflow: hidden;
    transition: .3s ease-in;
}
.project-cards .card1,
.project-cards .card2{
    overflow: hidden;
    position: relative;
}
.row1-cards .card1 .texts,
.row1-cards .card2 .texts{
    text-align: left;
    position: absolute;
    color: var(--bgClor-secondary);
    /* top: 40%; */
    left: 0;
    width: 100%;
    height: 30%;
    transform: translate(-0%, -90%);
    background: linear-gradient(to top, #000, transparent);
    padding: 0 2rem;
}
.row1-cards .card1 .texts h4{
    font-size: 1.8rem;
}
.row1-cards .card1 .texts a{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: .1rem;
    color: var(--bgClor-secondary);
}
.row1-cards .card1 .texts span{
    display: inline-block;
    text-align: left;
    color: var(--heading-secondary);
    opacity: 0;
    transform: translateX(-50%);
    transition-delay: 1s;
    transition: .3s ease-in;
}
.row1-cards .card1:hover span{
    top: 2rem;
    opacity: 1;
    transform: translateX(0%);
}
.project-cards .row1-cards,
.project-cards .row2-cards{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

/* news section */

.news-section{
    background-color: var(--bgClor-secondary);
}
.news-section-contents .news-section-cards{
    display: flex;
    gap: 2.5%;
}
.news-section-cards .card1,
.news-section-cards .card2,
.news-section-cards .card3{
    box-shadow: .5rem .5rem 1rem var(--bgClor-primary),
    -.2rem -.2rem 1rem var(--bgClor-primary);
    /* box-shadow: .03rem .1rem .08rem #777,
    -.02rem 0 .08rem #777; */
}
.news-section-cards .card1 .img img,
.news-section-cards .card2 .img img,
.news-section-cards .card3 .img img{
    max-width: 100%;
    margin-bottom: 2rem;
    transition: transform .3s ease;
}
.news-section-cards .img img:hover{
    transform: scale(1.05);
}
.news-section-cards .img{
    overflow: hidden;
}
.news-section-cards .news-texts{
    padding: 0 2rem;
}
/*.card1*/ .news-texts ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: #777;
    margin: 0 8% 1rem 0;
    position: relative;
}
/*.card1*/ .news-texts ul li:last-child{
    margin-left: 2rem;
}
/*.card1*/ .news-texts ul li:last-child::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 2.6rem;
    height: 3px;
    border-radius: 10%;
    background-color: var(--btnBg);
    top: 50%;
    left: -40%;
    margin: auto;
}

.news-texts h3{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    opacity: .8;
}
.news-texts h3:hover{
    cursor: pointer;
    color: var(--btnBg);
    opacity: 2;
}
.news-texts p{
    color: #777;
    margin-bottom: 1rem;
}
.news-texts a{
    text-decoration: none;
    margin-bottom: 1.5rem;
}
.news-texts a span{
    font-size: 1.5rem;
    text-align: left;
    color: var(--btnBg);
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.news-texts span b{
    font-size: 1.5rem;
    margin-left: .6rem;
}