/* Reset style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    --bgClor-primary: #f5f5f5;
    --bgClor-secondary: #fff;
    --heading-primary: #000;
    --heading-secondary: #fff;
    --pClor: #656565;
    --pClor-secondary: #333;
    --btnBg: #ff5200;
    --btnText: #fff;
    --btnHover: #252525;
}
.container {
    width: 80%;
    max-width: 114rem;
    margin: 0 auto;
}

section{
    padding: 9rem 0;
}

h2,h3,h4{
    font-size: 3rem;
    font-weight: 700;
    color: var(--heading-primary);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

p{
    font-size: 1.6rem;
    color: var(--pClor);
    line-height: 3rem;
    margin-bottom: 2rem;
}

button {
    display: block;
    background: var(--btnBg);
    color: var(--btnText);
    font-size: 2rem;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .3s ease-out;
}
button:hover {
    background: var(--btnHover);
    cursor: pointer;
}

/* Contact bar */
.contact-bar {
    background: var(--bgClor-primary);
}
.contact-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-contents .phone {
    display: flex;
    font-size: 3.6rem;
    align-items: center;
}
.phone .call {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone .mail {
    margin-right: 2rem;
    border-left: .1rem solid #ccc;
    padding: 1rem;
}
.phone i {
    color: var(--btnBg);
    margin-right: 1rem;
}
.social a {
    text-decoration: none;
    font-size: 2.8rem;
    color: var(--heading-primary);
    display: block;
    border-left: .1rem solid #ccc;
    padding: 1rem 2rem;
    transition: .3s ease;
}
.social a:hover {
    color: var(--btnBg);
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a:last-child {
    border-right: .1rem solid #ccc;
}

/* Nav bar */

nav{
    background-color: var(--heading-secondary);
}

nav .container .nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-contents ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 1rem 0rem;
}

.nav-contents ul li a{
    display: block;
    text-decoration: none;
    font-family: "oswald", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--heading-primary);
    padding: 0 1rem;
    transition: .3s ease;
}

.logo{
    display: flex;
}

.logo ul{
    display: none;
}

.nav-contents ul li a:hover, .logo ul i:hover{
    color: var(--btnBg);
    cursor: pointer;
}

.nav-contents ul li a i{
    font-size: 1.4rem;
}

.nav-contents ul li #search-icon{
    font-size: 1.6rem;
    font-weight: bolder;
}

/* Hero Section */

.hero{
    background: url(../Images/slide-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 9rem 0;
}

.hero .hero-contents{
    width: 65%;
}

.hero .container .hero-contents h1{
    text-transform: uppercase;
    color: var(--heading-secondary);
    font-size: 4.5rem;
    word-spacing: .5rem;
    letter-spacing: .2rem;
    font-family: "oswald";
    font-weight: normal;
    margin-bottom: 3.5rem;
}

.hero-contents p{
    color: var(--pClor);
    color: var(--heading-secondary);
    font-size: 1.1rem;
    line-height: 2rem;
    width: 60%;
    margin-bottom: 3.5rem;
}

.hero-contents #btn1{
    font-size: 1.6rem;
    font-family: "oswald", sans-serif;
    letter-spacing: .2rem;
    margin-bottom: 4rem;
}

/* service section */

.service{
    background-color: var(--bgClor-primary)
}

.service .container .service-contents{
    display: flex;
    gap: 1rem;
}

.service-contents .service-item{
    background-color: var(--bgClor-secondary);
    flex-basis: 25%;
    padding: 3rem;
    text-align: center;
    box-shadow: .05rem .05rem .1rem var(--pClor);
    transition: .3s ease-in;
}

.service-item i{
    font-size: 4rem;
    color: var(--btnBg);
    padding: 1rem;
    padding-top: 0rem;
}

.service-contents h3{
    font-size: 2.2rem;
    font-family: "oswald", sans-serif;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.service-contents p{
    font-size: 1.3rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.service-contents a{
    text-decoration: none;
    color: var(--btnBg);
    font-size: 1.4rem;
}

.service-contents a i{
    font-size: 1.4rem;
    padding: 0;
    padding-left: .5rem;
}

.service-contents .service-item:hover{
    background-color: var(--btnBg);
}

.service-item:hover i,
.service-item:hover h3,
.service-item:hover p,
.service-item:hover a{
    color: var(--btnText);
}

/* work with us section */

#work-with-our-team{
    background-color: var(--bgClor-secondary);
}

#work-with-our-team .container .work-with-us-contents{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.work-with-us-contents .work-img,
.work-with-us-contents .work-with-us-texts{
    flex-basis: 49%;
}

.work-img{
    overflow: hidden;
}

.work-img img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    transition: transform .3s ease-out;
}

.work-img img:hover{
    transform: scale(1.08);
}

.work-with-us-texts h3{
    font-family: "oswald", sans-serif;
    font-weight: normal;
    letter-spacing: .1rem;
}

.work-with-us-texts p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.work-with-us-texts .points{
    display: flex;
}

.points ul{
    list-style-type: none;
}


.points ul li{
    margin-right: 4.45rem;
    /* max rem of ul li's margin right is 4.45rem because it is the maximam width of his 
    parent container !important */
    margin-bottom: 1.2rem;
}

.points ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--pClor-secondary);
    font-weight: 600;
    transition: .3s ease-in;
}

.points ul li a:hover{
    color: var(--btnBg);
}

.points ul li a i{
    font-size: 1.2rem;
    padding-right: .5rem;
    font-weight: bold;
}

.work-with-us-contents .work-with-us-texts button{
    font-size: 1.7rem;
    font-family: "oswald", sans-serif;
    letter-spacing: .2rem;
    word-spacing: .5rem;
    font-weight: 700;
}

/* achivements section */

.achivements{
    background:url(../Images/customerNum.jpg);
    background-size: cover;
    padding: 4rem 0;
}
.achivements .achivements-contents{
    display: flex;
    text-align: center;
    width: 100%;
}
.achivements-contents .achivement-example{
    width: 25%;
}
.achivements-contents .achivement-example .icons{
    font-size: 6rem;
    color: var(--heading-secondary);
    margin-top: -1rem;
}
.achivement-example h3,h4{
    color: var(--heading-secondary);
    text-transform: uppercase;
    font-family: "oswald", sans-serif;
    margin-bottom: 1rem;
}
.achivement-example h3{
    font-size: 2.2rem;
}
.achivement-example h4{
    font-size: 2rem;
}